---
// src/components/PlantUml.astro
import { encodePlantUml } from '../lib/plantuml';

interface Props {
  code: string;
  alt?: string;
}

const { code, alt = "PlantUML diagram" } = Astro.props;
const svgUrl = encodePlantUml(code);
---

<div class="plantuml-img">
  <img
    src={svgUrl}
    alt={alt}
    class="max-w-full h-auto"
    loading="lazy"
  />
  {alt && <p class="text-center text-gray-500 text-sm mt-2">{alt}</p>}
</div>
